{% extends 'base.html.twig' %}

{% block title %}Covoiturages - EcoRide{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Liste des covoiturages</h2>
    <p class="text-center">Les covoiturages disponibles seront affichés ici.</p>
</div>
{% endblock %}
